# File endings to ignore
*.*~
*~
*.bak
*.orij
*.pyc
*.rej
*.swp
*.gpx
*.loc
*.zip

# Actual files to ignore
MANIFEST
build/*
dist/*

# Eclipse
.project
.pydevproject
.settings

# Wing IDE per user project file
geocacher.wpu
